/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

html {
    background-image: url(./assets/burger-friends.jpg);
    background-size: cover;
}

header {
    background-color: #0fb9b1;
    display:flex;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    justify-content: space-between;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.add-recipe-button {
    padding: 5px, 15px;
    border-radius: 6px;
    height: 40px;
    margin-top: 9px;
}

h4 {
    font-size: 30px;
}

.squares {
    justify-content: space-evenly;
    display: flex;
    padding: 50px;
    align-items: center;
    gap: 50px;
    position: relative;
}